@tailwind base;
@tailwind components;
@tailwind utilities;


/* border-radius: 50px;
background: #d3d2da;
box-shadow:  20px 20px 60px #b3b3b9,
             -20px -20px 60px #f3f2fb; */

             /* border-radius: 50px;
background: #1d1a39;
box-shadow:  15px 15px 30px #141228,
             -15px -15px 30px #26224a; */
:root {
  --backgroundColor: #d3d2da;
  --shadow: 3px 3px 7px #9e9ea4,
  -3px -3px 5px #ffffff;
  --textColor: #1d1a39; 
  /* --textColor: #6ad6aa;  */
  /* --textColor: #d3d2da; 
  --backgroundColor: #0b0925;
  --shadow: none; */
}

.dark{
  --backgroundColor: #0b0925;
  --shadow: 3px 3px 7px #16142b,
  -3px -3px 5px #242147;
  /* --shadow: none; */
  --textColor: #d3d2da; 
}

.shadow{
  box-shadow: var(--shadow);
}
.border-rotate{
  border-radius: 50%;
  /* transform:  rotate(0); */
  /* padding: 4rem; */
  /* z-index: 1; */
  animation: borderRotate 7s linear infinite ;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.inset-shadow{
  box-shadow: inset 3px 3px 7px #9e9ea4,
  inset -3px -3px 5px #ffffff;
  /* box-shadow: inset 3px 3px 7px #16142b,
  inset -3px -3px 5px #242147; */
}

.sticky-cl{
  /* position: sticky;
  top: 0; */
  /* background-color: brown; */
  top: -500px;
}

@keyframes borderRotate {
  100%{
    transform:rotate(1turn);;
  }
  /* 100%{
    transform: rotate(0)
  } */
}